{:paths ["src" "resources"]

 :deps
 {garden/garden         {:mvn/version "1.3.10"}
  girouette/girouette   {:mvn/version "0.0.6"}
  meta-merge/meta-merge {:mvn/version "1.0.0"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {djblue/portal {:mvn/version "RELEASE"}}}

  :byo
  {:extra-deps {hawk/hawk {:mvn/version "0.2.11"}
                com.lambdaisland/glogi {:mvn/version "1.1.144"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "RELEASE"}
                 lambdaisland/kaocha-cljs {:mvn/version "RELEASE"}
                 org.clojure/clojurescript {:mvn/version "RELEASE"}
                 com.lambdaisland/glogi {:mvn/version "1.1.144"}
                 ;; for lambdaisland.hiccup and lambdaisland.thicc, used in testing
                 lambdaisland/webstuff {:git/url "https://github.com/lambdaisland/webstuff"
                                        :git/sha "fc4e2b7e41dd4e3db9a2778b9c69d92148d0549c"
                                        #_#_:local/root "/home/arne/github/lambdaisland/webstuff"}}}

  :cssparser
  {:extra-deps {net.sourceforge.cssparser/cssparser {:mvn/version "0.9.29"}}}}}
