{:paths ["src" "resources"]

 :deps
 {garden/garden         {:mvn/version "1.3.10"}
  girouette/girouette   {:mvn/version "0.0.7"}
  meta-merge/meta-merge {:mvn/version "1.0.0"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {djblue/portal {:mvn/version "RELEASE"}
                 io.github.nextjournal/clerk {:mvn/version "RELEASE"}
                 com.lambdaisland/hiccup {:mvn/version "RELEASE"} }}

  :byo
  {:extra-deps {hawk/hawk {:mvn/version "0.2.11"}
                com.lambdaisland/glogi {:mvn/version "1.1.144"}
                io.pedestal/pedestal.log {:mvn/version "0.5.10"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "RELEASE"}
                 lambdaisland/kaocha-cljs {:mvn/version "RELEASE"}
                 org.clojure/clojurescript {:mvn/version "RELEASE"}
                 com.lambdaisland/glogi {:mvn/version "1.1.144"}
                 ;; for lambdaisland.hiccup and lambdaisland.thicc, used in testing
                 lambdaisland/webstuff {:git/url "https://github.com/lambdaisland/webstuff"
                                        :git/sha "5d5669e7f7829c65fdd00b19ef826565ce41b7ea"
                                        #_#_:local/root "/home/arne/github/lambdaisland/webstuff"}}}

  :cssparser
  {:extra-deps {net.sourceforge.cssparser/cssparser {:mvn/version "0.9.29"}}}}}
