{:paths ["src" "resources"]

 :deps
 {garden/garden         {:mvn/version "1.3.10"}
  girouette/girouette   {:mvn/version "0.0.4"}
  meta-merge/meta-merge {:mvn/version "1.0.0"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {djblue/portal {:mvn/version "RELEASE"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "RELEASE"}
                 lambdaisland/kaocha-cljs {:mvn/version "RELEASE"}
                 lambdaisland/webstuff {:git/url "https://github.com/lambdaisland/webstuff"
                                        :sha "f77802ba2a3d69063fa2158ba6ed9987bdf91f5f"
                                        #_#_:local/root "/home/arne/github/lambdaisland/webstuff"}}}}}
